/* Write your CSS here */
.container-fluid {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-size: cover;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: grow;
}
.main-heading {
  color: #00e7ff;
  font-size: 55px;
  text-align: center;
}
